div{
  font-size:100%;
  border-size:5px;
  border-style:dashed;
  
}

div[class^="visible"]{
  border: 1px solid black;
  margin-top:3%;
}

div[class$=lg]{
  color:red;
}
div[class$=md]{
  color:blue;
}
div[class$=sm]{
  color:green;
}
